@import './variables.css';
.fondo{
    width: 100%;
    min-height: 90vh;
    background-image: url("../images/fondo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--rojo);
    padding-top: 10%;
    text-align: center;
}

.fondo h1{
    color: var(--blanco);
    font-family: var(--fuente-titulos);
    font-size: 15rem;
    animation: fondo1 3s;
}

.fondo h2{
    color: var(--blanco);
    font-size: 4rem;
    animation: fondo2 3s;
}

/*Animación entrada de los titulo de el fondo*/
@-webkit-keyframes fondo1{
    from{
        transform: translatex(-100%);
        opacity: 0;
    }
    to{
        margin-right: none;
        opacity: none;
    }
}

@-webkit-keyframes fondo2{
    from{   
        transform: translatex(50%);
        opacity: 0;
    }
    to{
        margin-right: none;
        opacity: none;
    }
}

.aboutme{
    width: 80%;
    margin: auto;
    min-height: 50vh;
}

.aboutme div{
    width: 50%;
    float: left;
}

.aboutme div h2{
    font-family: var(--fuente-titulos);
    font-size: 5rem;
    color: var(--blanco);
    text-shadow: 2px 2px 2px var(--blanco);
}

.aboutme div p{
    color: var(--blanco);
    font-size: 1.4rem;
}

.aboutme img{
    width: 20%;
    display: block;
    float: right;
}

/*Estilos de competencias*/
.competencies{
    width: 100%;
    margin: auto;
    min-height: 50vh;
    background-color: var(--blanco);
}


.competencies .container{
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.competencies .container .containerButtons{
    width: 8%;
    text-align: center;
    display: inline-block;
    height: 100%;
    margin: 0px;
}

.competencies .container .containerButtons .changeSkill{
    font-size: 3rem;
    padding: 20px 10px;
    border: 2px solid rgb(228, 227, 227);
    color: rgb(201, 199, 199);
    border-radius: 10px;
}

.competencies .container .containerButtons .changeSkill:hover{
    border: 2px solid rgb(186, 186, 186);
    color: rgb(157, 156, 156);
}

.competencies .container p{
    color: var(--negro);
    font-size: 1.4rem;
}

/*Estilo de Skills*/
.competencies .container .contSkills{
    width: 80%;
    margin: 0px;
    display: inline-block;
    text-align: center;
}

.skill{
    width: 23%;
    display: inline-block;
}

.titleSkill{
    font-family: var(--fuente-normal);
    font-size: 2rem;
}

.skill img{
    width: 200px;
    cursor: pointer;
}

.skill img:hover{
    filter: drop-shadow(2px 4px 8px rgb(29, 29, 29));
    /* animation: openSkill 3s; */
}

.skill progress{
    width: 100%;
}

.click-animation {
    animation-name: openSkill;
    animation-duration: 0.5s;
}

@-webkit-keyframes openSkill{
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(3.142rad);
    }
    100% {
        transform: rotateY(0);
    }
}

/*style window skill*/
.windowSkill{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:all;
    transition: all 1s;
    z-index: 100;
}

.windowSkillClose{
    display: none;
}

.windowCont{
    background-color: var(--blanco);
    width:70%;
    padding: 10px 20px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
}

.btnClose{
    width: 30px;
    height: 30px;
    background-color: var(--rojo);
    font-size: 1.5rem;
    float: right;
    border-radius: 5px;
    border: 1px solid var(--negro);
}

.btnClose:hover{
    box-shadow: 2px 2px 2px var(--rojoTrans);
}

.windowCont h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
}

.container{
    overflow: hidden;
}

.container img{
    width: 200px;
    height: 200px;
}

.contRight{
    width: 50%;
    float: left;
    font-size: 1.3rem;
}

.contLeft{
    width: 30%;
    float: right;
    text-align: left;
}

.dominance{
    display: none;
}

.dominance progress{
    width: 100%;
    height: 30px;
    color: var(--negro);
}

/*phrase*/
.phrase{
    background-image: url("../images/programming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 200px;
    padding-top: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    border-bottom: 20px solid var(--negro);
}

.containterCertificates{
    width: 80%;
    margin: auto;
}

.containterCertificates .certificate{
    margin: 5px 10px;
}

.phrase::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: -1;

}

.phrase p{
    color: var(--blanco);
    font-size: 2.5rem;
}

.projects{
    background-color: var(--rojo);
    min-height: 50vh;
    border-bottom: 20px solid var(--negro);
}

.projects h2{
    text-align: center;
    font-size: 4rem;
    font-family: var(--fuente-titulos);
}

.contProjects{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.contProjects > .projectItem{
    text-align: center;
    padding: 10px;
	margin: 10px;
	background-color: var(--negro);
    transition: 1s background;
    min-height: 500px;
    width: 30%;
}

.projectItem:hover{
    background-color: var(--blanco);
}

.projectItem h4{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--blanco);
}

.projectItem:hover > h4{
    color: var(--negro);
}

.projectItem span{
    width: 90%;
    margin: auto;
    display: block;
}

.projectItem span p{
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
}

.contact .socialMedia{
    width: 40%;
    height:90vh;
    padding-top: 20%;
    text-align: center;
    float: left;
    background: black;
}

.contact .socialMedia h2{
    color: var(--blanco);
    font-family: var(--fuente-titulos);
    font-size: 5rem;
}

.contact .withMe{
    width: 55%;
    float: right;
    min-height: 100px;
}

.contact .withMe h2{
    font-size: 3em;
    font-family: var(--fuente-titulos);
    text-align: center;
}

/*buttons social media*/
.contact .withMe .btnsSocial{
    list-style: none;
    text-align: center;
    margin:25px 0px;
}

.contact .withMe .btnsSocial li{
    display: inline-block;
    margin:0px 10px;
}

.contact .withMe .btnsSocial li a{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 15px 40px;
    text-decoration: none;
}

/*Form TalkMe*/
.contact .withMe .talkMe{
    width: 90%;
    display: block;
    padding-left: 10px;
}

.contact .withMe .talkMe label, .contact .withMe .talkMe input{
    width: 100%;
    display: block;
    font-size: 1.5rem;
    padding: 5px 0px;
}

.contact .withMe .talkMe input{
    border-bottom: 1px solid var(--negro);
    margin-bottom: 10px;
}

.contact .withMe .talkMe textarea{
    width: 100%;
    border: 1px solid var(--negro);
    font-size: 1.5rem;
}

.contact .withMe .talkMe .submit{
    width: 200px;
    margin: auto;
    margin-top: 10px;
    padding: 20px 40px;
    background-color: var(--rojo);
    font-size: 1.5rem;
    border: none;
}

.contact .withMe .talkMe .submit:hover{
    background-color: var(--negro);
    color: var(--blanco );
}

.contact .withMe .talkMe .campoErroneo{
    color: var(--rojo);
}

/*style responsive movil*/
@media (min-width: 0px) and (max-width: 768px){
    .fondo{
        padding-top: 30%;
    }

    .fondo h1{
        font-size: 5rem;
    }

    .fondo h2{
        font-size: 2rem;
        animation: fondo2 0s;
        min-height: 50vh;
    }

    .aboutme{
        width: 100%;
        min-height: 50vh;
    }
    
    .aboutme div{
        width: 100%;
        float: none;
    }
    
    .aboutme div h2{
        font-size: 3rem;
    }
    
    .aboutme div p{
        font-size: 1.2rem;
    }
    
    .aboutme img{
        display: none;
        float: none;
    }

    .competencies .container{
        width: 95%;
    }

    .skill{
        width: 100%;
        display: inline-block;
    }

    .contRight{
        width: 100%;
        float: none;
        font-size: 1.3rem;
    }   

    .contLeft{
        width: 100%;
        float: none;
        text-align: left;
    }

    .contProjects{
        width: 95%;
        display: flex;
        flex-flow: column wrap;
    }

    .contProjects > .projectItem{
        text-align: center;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
        width: 100%;
    }

    .contact .socialMedia{
        width: 100%;
        height:20vh;
        padding-top: 0px;
        float: none;
        background: black;
    }

    .contact .withMe{
        width: 100%;
        float: none;
        min-height: 100px;
    }
    
    .contact .withMe .btnsSocial li{
        display: inline-block;
    }
    
    .contact .withMe .btnsSocial li a{
        padding: 15px 10px;
    }
}