.main-container{
    animation: start-main-container-animation 2s;
}

.main-container article h2{
    font-size: 6rem;
    margin-bottom: 20px;
    color: var(--dark);
}

/*Form TalkMe*/
.talkMe{
    width: 90%;
    display: block;
    padding-left: 10px;
}

.talkMe label, .talkMe input{
    width: 100%;
    display: block;
    font-size: 1.5rem;
    padding: 5px 0px;
}

.talkMe input{
    border-bottom: 1px solid var(--dark);
    margin-bottom: 10px;
    padding: 0px 10px;
}

.talkMe textarea{
    width: 100%;
    border: 1px solid var(--dark);
    font-size: 1.5rem;
}

.talkMe .submit{
    width: 200px;
    margin: auto;
    margin-top: 10px;
    padding: 20px 40px;
    background-color: var(--red);
    font-size: 3rem;
    font-family: var(--font-titles);
    border: none;
    cursor: pointer;
}

.talkMe .submit:hover{
    background-color: var(--dark);
    color: var(--white );
}

.talkMe .error-input{
    color: var(--red);
}

@-webkit-keyframes start-main-container-animation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: none;
    }
}