@import './variables.css';
*{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--dark);
    font-family: var(--font-default);
    box-sizing: content-box;
}

body{
    overflow-x: hidden;
    display: flex;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-titles);
}

header {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark);
    border-right: 2px solid var(--white);
    left: 0;
}

.toggle-menu{
    height: 100px;
    text-align: right;
}

.toggle-menu button{
    font-size: 1.4rem;
    padding: 10px;
    display: none;
    color: var(--white);
}

nav{
    width: 100%;
    animation: start-buttons-animation 3s;
}

nav ul li{
    margin: 30px;
}

nav ul li a{
    color: var(--white);
    font-family: var(--font-default);
    font-size: 1.5rem;
    text-decoration: none;
}

nav ul li a span{
    color: var(--white);
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a i{
    color: var(--white);
}

.social-networks{
    width: 100%;
    padding: 10px 0px;
    animation: start-buttons-animation 3s;
}

.social-networks h4{
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 25px;
}

.social-networks-links-container{
    text-align: center;
}

.social-networks a i{
    color: var(--white);
    margin-right: 15px;
    margin-bottom: 20px;
}

section {
    width: 85%;
    height: 100vh;
    overflow-y: auto;
}

article{
    padding: 50px;
}

@-webkit-keyframes start-buttons-animation{
    from{   
        opacity: 0;
    }
    to{
        opacity: none;
    }
}

@media (min-width: 0px) and (max-width: 768px){
    header{
        position: fixed;
        width: 100%;
        z-index: 5;
        width: 10%;
        transition: 1s width;
    }

    .social-networks{
        width: 100%;
        padding: 10px 0px;
    }

    .toggle-menu button{
        display: inline-block;
    }

    section{
        margin-left: auto;
        width: 90%;
    }

    article{
        padding: 10px;
    }
}